:root{
    --f2:#000000;
    --f2con:#15111F;

    --f1:#ffffff;
    --f1con:#F0EDF3;

    --f3:#1E1932;
    --f3con:#15111F;

    --glavn02:500px;

    --fixed-left-1:290px;
    --fixed-left-1-position:100px;
    --fix2-rigint-wi:380px;
    --fix2-rigint-hi:500px;

    --fix2-rigint-lef:910px;



    

    --f2con-fix-text:#ffffff;





    /* цвета настройка кнопок шрифтов итд*/
    --f1-button:#4F38A6;
    --f1-m1-button:#4F38A6;
    --f1-m2-button:#E6D153;
    --f1-m3-button:#E34B5E;
    --f1-m4-button:#4BE59F;
    --f1-m5-button:#4AABDF;

}
.text-color56{
    color:var(--f1-button);
}
.profile-content{
    width:45px;
    height:45px;
    border-radius:50%;

}
.profile-content-content{
    width:100%;
    border-radius:10px;
}

.card{
    background-color:var(--f1);

}
.card23{
    background-color:var(--f1);
}

.btn-primary{
    background-color:var(--f1-button);
    border-radius:20px;
    border:0px;
}

.bag2{
    background-color: #282341;
    width:200px;
    height:60px;
    margin:15px;
}
.bag{
    background-color:#000000;
    width:200px;
    height:60px;
    margin:15px;
}
.bag1{
    background-color: #F0EDF3;
    color: #000000;
    width:200px;
    height:60px;
    margin:15px;
}
.form-control{
    border-radius:1rem;
}

.d-flex{  width:40%; }
.menu-jpg{
    width:45px;
    height:45px;
    border-radius:50%;
    margin-left:30px;
}

.container-fluid{
    background-color: var(--f1);
}
/* это контент который с лева находиться*/
.fixed-left-1{
    position: absolute;
    float: left;
    left:var(--fixed-left-1-position);
    top:80px;
    width:var(--fixed-left-1);
}

.new-fix01{
    width:100%;
}

.btnfix1{
 width:100%;    
}

.blok-fix1-menu{
    width:100%;
    height:50px;
    background-color:var(--f1);
    border:0px;

}
.blok-fix1-menu:hover{
    background-color: rgba(255, 255, 255, 0.164);
    border-left:6px solid var(--f1-button);
}
.menu-jpg2-fixed{
    float: left;
    width:40px;
    height:40px;
    border-radius:50%;
    
}
.text-fix1{
    float:left;
    margin:6px;
   
}
.card-bottom-fix{
    background-color:var(--f1con);
}

.body{
    background-color:var(--f1con);

}

.text-fix1-2{
    position: relative;
    top:-15px;
    left:50px;
    color: #888888;
    font-size: small;
}

.card-fix1-1{
    border-radius: 1.25rem;
    background-color:var(--f1);
}

.card-fix1-color{
    background-color:var(--f1con);
    border:0px;
}
.icon-fix1{
    width:35px;
    height:35px;

    float: left;
}
.text-menu{
  color:var(--f1-button);
  float: left;
  margin-left:30px;
}

.glavn01{
    background-color: var(--f1con);
    width:100%;
    height:1900px;
}

.width-seorch{
    width:90%;
    border:20px;
    margin:20px;
}
.glavn-blok3{
    width:100%;
    height:40px;

}
.blok3{
    width:32%;
    height:30px;
    margin:2px;
    float: left;
}
.blok-ludi{
    width:100%;
    height:60px;
    float: left;
    margin:1px;
}
.text-left{
    position: relative;
    top:-50px;
    left:80px;
}

.fix-down{
    background-color: var(--f1);
}
.blok-glavn01{
    background-color:var(--f1con);
    border:0px;
}

.glavn02{
    position: absolute;
    top:62px;
    left:400px;
    width: var(--glavn02);
    height: 900px;
    background-color:var(--f1con);
}


.pan{
    float: left;
    width:14%;
    margin:5px;
    border-radius:4px;

}

.iop1{
    width:100%;
    height:100%;
    border-radius:5px;
}
.color-modal{
    background-color:var(--f1con);
} 



.navbar{
    padding-top:-1,5rem;
    padding-bottom: -1,5rem;
}

.text-color{
    color:var(--f2);
}
.text-color2{
    color:var(--f2con-fix-text);
}

.fix2-rigint{
    width:var(--fix2-rigint-wi);
    height:var(--fix2-rigint-hi);
   
    position: absolute;
    left:var(--fix2-rigint-lef);
    top:80px;
    float: left;
}
.iop81{
    width:55px;
    height:54px;
    border-radius:50%;

}

















/* модальное окно font siize*/


.cont-fonsize-modal{
    width:90%;
    height:40px;
    background-color:var(--f2);
    margin:40px;
    border-radius:50px;
}

.line-font-modal{
    width:90%;
    height:8px;
    position: relative;
    top:-6px;
    left:34px;
    background-color:var(--f1con);
}
.modal-font-sizebutton{
    width:18px;
    height:18px;
    border-radius:50%;
    background-color: aqua;
    float: left;
    position: relative;
    left:0px;
    top:-5px;
    margin-left:90px;
}
.modal-font-sizebutton:active{
    
    background-color:red;
    
    
}





.text-1-font{
    width: 20px;
    height:20px;
    position: relative;
    top:8px;
    left:8px;
}


.text-2-font{
    width:25px;
    height:20px;
    position: relative;
    top:-32px;
    left:660px;
}












/* цвета кнопок итд */

.cont-fonsize-modal2{
    width:90%;
    height:40px;
    background-color:var(--f2);
    margin:40px;
    border-radius:50px;
}


.modal-font-sizebutton2{
    width:30px;
    height:30px;
    border-radius:50%;
    float: left;
    position: relative;
    left:0px;
    top:5px;
    margin-left:90px;
}


.modal-font-sizebutton2:active{
    
    background-color:red;
    
    
}


.bg-button-set1{
    background-color:var(--f1-m1-button) ;
}
.bg-button-set2{
    background-color:var(--f1-m2-button) ;
}
.bg-button-set3{
    background-color:var(--f1-m3-button) ;
}
.bg-button-set4{
    background-color:var(--f1-m4-button) ;
}
.bg-button-set5{
    background-color:var(--f1-m5-button) ;
}